body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

#div{
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#span{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: burlywood;
    padding: 10px;
}